
.default{
    
    border-color: #CACACA;
    border-style: solid;
    border-radius: 0.4em;
}

.fontClass{
    font-family: Tahoma, Geneva, sans-serif;
    color: #CACACA;
}

#gameTitle {
    margin: 0px auto;
    margin-top: 20px; 
    text-align: center;
    font-size: 3em;
    /* font-family: Tahoma, Geneva, sans-serif; */
    /* color: #CACACA; */
}

#main {
    margin: 1em auto;
    text-align:center;    
    width: 50em;
    
}

#myCanvas {
    
    display: inline-block;
    vertical-align: top;
    /*margin-left: 200*/
}

#menu {
    width: 220px;
    height: 620px;
    display: inline-block;      
    vertical-align:top;
    margin-left: 0.7em;
}

#nextPiece { /* The display that "contains" the next piece*/
    margin-top: 1.5em;
    display: inline-block;
    vertical-align: top;  
}

#level{
    font-size: 2em;
    display: inline-block;                 
}